<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="duke" class="com.cbs.edu.hello_world_xml.com.cbs.edu.Juggler"/>

    <bean id="sonnet29" class="com.cbs.edu.hello_world_xml.Sonnet29"/>

    <bean id="poeticDuke" class="com.cbs.edu.hello_world_xml.PoeticJuggler">
        <constructor-arg ref="sonnet29"/>
        <constructor-arg value="10"/>
    </bean>
</beans>