<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:postgresql://ec2-54-247-79-32.eu-west-1.compute.amazonaws.com:5432/ddbqh5qho6v4gc?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory
        </property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">ndbekguuylikcy</property>
        <property name="connection.password">60bb7ec5c671d2fea3692926039cb38c54d7ab2ff7c872d6f9dd7b65ff77e110</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

        <mapping class="dao.model.User"/>
        <mapping class="dao.model.Role"/>
        <mapping class="dao.model.Customer"/>
        <mapping class="dao.model.Order"/>
        <mapping class="dao.model.Product"/>

        <!--<mapping package="dao.model"/>-->
        <mapping package="dao.model"/>
    </session-factory>
</hibernate-configuration>